%title IMDB powered by Neo4j
%h1
  IMDB powered by Neo4j
  %h2
    Search Movies or Actors by Keyword

  %form{ :action => "/search", :method => "post"}
    %input{:type => "text", :name => "search", :value => @search}
    %input{:type => "submit", :value => "Search", :class => "button"}

  %h2 Search Results

  - unless @search_actors.nil?
    %h4
      Actors
      %table
        %tr
          %th Actor

        - @search_actors.each do |actor|
          %tr
            %td= link_to "/actor/" + actor["self"].split('/').last, actor["data"]["name"]

  - unless @search_movies.nil?
    %h4
      Movies
      %table
        %tr
          %th Movie

        - @search_movies.each do |movie|
          %tr
            %td= link_to "/movie/" + movie["self"].split('/').last, movie["data"]["title"]

%hr
  %table
    %tr
      %th Action
      %th Time (ms)
    - @times.each do | result|
      %tr
        %td= result[0]
        %td= result[1]